{% extends "base.html" %}
{% block content %}
    <a href="/">Back</a>
    <div>
        <p>Evaluation: {{evaluation.id}}</p>
        <ul>
            <li>user id: {{evaluation.user_id.hex}}</li>
            <li>robot id: {{evaluation.robot_id.hex}}</li>
            <li>branch: {{evaluation.branch}}</li>
            <li>status: {{evaluation.status.value}}</li>
            <li>progress: {{evaluation.progress}}</li>
            <li>created: {{evaluation.created_at}}</li>
            <li>updated: {{evaluation.updated_at}}</li>
        </ul>
    </div>
    {% if evaluation.executed_runs %}
    <table>
        <tr>
            <th>Run id</th>
            <th>Summary <br />(success / attempts)</th>
            <th>Started</th>
            <th>Finished</th>
        </tr>
        {% for run in evaluation.executed_runs %}
        <tr>
            <td>{{ run.id.hex }}</td>
            <td>{{ run.summary }}</td>
            <td>{{ run.start_time.format('YYYY-MM-DD HH:mm:ss') }}</td>
            <td>{{ run.end_time.format('YYYY-MM-DD HH:mm:ss') }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif  %}
{% endblock %}