{% extends "base.html" %}
{% block content %}
    {% if not evaluations %}
    <h1>No evaluations, schedule something first!</h1>
    {% else %}
    <table>
        <tr>
            <th>Evaluation id</th>
            <th>Status</th>
            <th>Created At</th>
        </tr>
        {% for e in evaluations %}
        <tr>
            <td><a href="/evaluation/{{e.id.hex}}">{{e.id.hex}}</a></td>
            <td>{{e.status.value}}</td>
            <td>{{e.created_at}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
